<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card-102.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1622},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-103.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1514},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-104.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1406},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-105.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1298},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-106.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1190},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-107.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1082},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-108.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,974},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-109.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,866},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-10a.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,758},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-10b.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,650},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-10c.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,542},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-10d.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,434},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-10e.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,326},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-202.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,218},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-203.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,110},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-204.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1850},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-205.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1742},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-206.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1634},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-207.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1526},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-208.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1418},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-209.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1310},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-20a.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1202},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-20b.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1094},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-20c.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,986},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-20d.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,878},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-20e.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,770},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-302.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,662},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-303.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,554},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-304.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,446},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-305.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,338},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-306.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,230},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-307.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,122},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1958},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1850},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-30a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-30b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-30c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-30d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1418},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-30e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-402.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-403.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-404.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-406.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-408.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-40a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-40b.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-40c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-40d.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-40e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-back-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1958},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>card-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1730},{74,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,104}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>card-hightline.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1836},{72,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,100}}</string>
                <key>sourceSize</key>
                <string>{76,104}</string>
            </dict>
            <key>card-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,118}}</string>
                <key>sourceSize</key>
                <string>{90,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efbc9a7b4fbbdf33946847d094666619:1/1$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
