<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img/chat/at-press.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,414},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>img/chat/at.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,373},{66,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>img/chat/bg-emotion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,252}}</string>
                <key>sourceSize</key>
                <string>{768,252}</string>
            </dict>
            <key>img/chat/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{640,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,80}}</string>
                <key>sourceSize</key>
                <string>{640,80}</string>
            </dict>
            <key>img/chat/border.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,67},{82,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{82,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>img/chat/bubble_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{181,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,63}}</string>
                <key>sourceSize</key>
                <string>{181,63}</string>
            </dict>
            <key>img/chat/button-price.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,256},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>img/chat/emotion-new.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,457},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>img/chat/emotion-press.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,419},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>img/chat/emotion-tab-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{640,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,75}}</string>
                <key>sourceSize</key>
                <string>{640,75}</string>
            </dict>
            <key>img/chat/emotion-tab-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,67},{94,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,75}}</string>
                <key>sourceSize</key>
                <string>{94,75}</string>
            </dict>
            <key>img/chat/emotion-tab-unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,144},{93,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,75}}</string>
                <key>sourceSize</key>
                <string>{93,75}</string>
            </dict>
            <key>img/chat/emotion-vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>img/chat/emotion.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,305},{66,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>img/chat/emotion/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,229},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>img/chat/emotion/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,256},{78,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{78,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>img/chat/emotion/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,381},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>img/chat/emotion/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,338},{74,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{74,78}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>img/chat/emotion/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,373},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>img/chat/emotion/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,305},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>img/chat/emotion/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,151},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{76,76}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>img/chat/emotion/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,229},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>img/chat/emotion/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,297},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>img/chat/emotion/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,221},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>img/chat/emotion/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,419},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{76,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>img/chat/emotion/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,419},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>img/chat/emotion/icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,449},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>img/chat/input_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{480,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{480,60}}</string>
                <key>sourceSize</key>
                <string>{480,80}</string>
            </dict>
            <key>img/chat/light.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,481},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>img/chat/line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{640,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,2}}</string>
                <key>sourceSize</key>
                <string>{640,2}</string>
            </dict>
            <key>img/chat/quick-press.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,138},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>img/chat/quick.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,70},{66,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>img/chat/speaker-press.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,441},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{60,60}}</string>
                <key>sourceSize</key>
                <string>{66,88}</string>
            </dict>
            <key>img/chat/speaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00966b2a748efb57cd7cc9bb8d59dd99:1/1$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
