<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img/check/activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,688},{60,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,4}}</string>
                <key>sourceSize</key>
                <string>{60,4}</string>
            </dict>
            <key>img/check/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{520,740}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,740}}</string>
                <key>sourceSize</key>
                <string>{520,740}</string>
            </dict>
            <key>img/check/bill-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,542},{144,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,93}}</string>
                <key>sourceSize</key>
                <string>{144,93}</string>
            </dict>
            <key>img/check/check-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,918},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>img/check/good_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,751},{156,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,107}}</string>
                <key>sourceSize</key>
                <string>{156,107}</string>
            </dict>
            <key>img/check/good_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,642},{156,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,107}}</string>
                <key>sourceSize</key>
                <string>{156,107}</string>
            </dict>
            <key>img/check/goods-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,740}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,740}}</string>
                <key>sourceSize</key>
                <string>{520,740}</string>
            </dict>
            <key>img/check/goods-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,972},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>img/check/icon-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,898},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>img/check/icon-preview.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,860},{21,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,36}}</string>
                <key>sourceSize</key>
                <string>{21,36}</string>
            </dict>
            <key>img/check/info-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1024},{50,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>img/check/line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{480,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,2}}</string>
                <key>sourceSize</key>
                <string>{480,2}</string>
            </dict>
            <key>img/check/mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{498,5}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{498,5}}</string>
                <key>sourceSize</key>
                <string>{502,9}</string>
            </dict>
            <key>img/check/micro.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,844},{81,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,126}}</string>
                <key>sourceSize</key>
                <string>{81,126}</string>
            </dict>
            <key>img/check/raffle_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,688},{154,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,90}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>img/check/rename_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,542},{159,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,98}}</string>
                <key>sourceSize</key>
                <string>{159,98}</string>
            </dict>
            <key>img/check/safebox-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,984},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>img/check/vip/bar-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,934},{418,16}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{418,16}}</string>
                <key>sourceSize</key>
                <string>{418,22}</string>
            </dict>
            <key>img/check/vip/bar-light.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1092},{322,16}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,6},{322,16}}</string>
                <key>sourceSize</key>
                <string>{418,22}</string>
            </dict>
            <key>img/check/vip/bar-pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,561},{418,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,22}}</string>
                <key>sourceSize</key>
                <string>{418,22}</string>
            </dict>
            <key>img/check/vip/bg-help.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,62},{478,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,261}}</string>
                <key>sourceSize</key>
                <string>{478,261}</string>
            </dict>
            <key>img/check/vip/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{524,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,650}}</string>
                <key>sourceSize</key>
                <string>{524,650}</string>
            </dict>
            <key>img/check/vip/button.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,860},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>img/check/vip/feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,980},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>img/check/vip/gap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,484},{2,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,15}}</string>
                <key>sourceSize</key>
                <string>{2,15}</string>
            </dict>
            <key>img/check/vip/help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>img/check/vip/icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,918},{64,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>img/check/vip/input.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{266,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,58}}</string>
                <key>sourceSize</key>
                <string>{266,58}</string>
            </dict>
            <key>img/check/vip/light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,502},{57,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,15}}</string>
                <key>sourceSize</key>
                <string>{57,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>check.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d20b381632a35451ee7c432dfe46e8dc:1/1$</string>
            <key>textureFileName</key>
            <string>check.png</string>
        </dict>
    </dict>
</plist>
