<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img/exitview/back.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,292},{176,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,56}}</string>
                <key>sourceSize</key>
                <string>{176,56}</string>
            </dict>
            <key>img/exitview/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,288}}</string>
                <key>sourceSize</key>
                <string>{458,288}</string>
            </dict>
            <key>img/exitview/exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{176,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,56}}</string>
                <key>sourceSize</key>
                <string>{176,56}</string>
            </dict>
            <key>img/exitview/lamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{25,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,37}}</string>
                <key>sourceSize</key>
                <string>{25,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exitview.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:144f0a77d4dd485862a76eb698ee0971:1/1$</string>
            <key>textureFileName</key>
            <string>exitview.png</string>
        </dict>
    </dict>
</plist>
