<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img/help/bg-tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{288,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,124}}</string>
                <key>sourceSize</key>
                <string>{288,124}</string>
            </dict>
            <key>img/help/hands-rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{484,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,606}}</string>
                <key>sourceSize</key>
                <string>{484,606}</string>
            </dict>
            <key>img/help/point-active.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,18},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>img/help/point.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>img/help/poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,244},{354,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,194}}</string>
                <key>sourceSize</key>
                <string>{354,194}</string>
            </dict>
            <key>img/help/pot.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,408},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>img/help/progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,792}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{404,792}}</string>
                <key>sourceSize</key>
                <string>{408,796}</string>
            </dict>
            <key>img/help/rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,600},{502,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,381}}</string>
                <key>sourceSize</key>
                <string>{502,381}</string>
            </dict>
            <key>img/help/step-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1104},{424,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,94}}</string>
                <key>sourceSize</key>
                <string>{424,94}</string>
            </dict>
            <key>img/help/step-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{260,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,538}}</string>
                <key>sourceSize</key>
                <string>{260,538}</string>
            </dict>
            <key>img/help/step-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{196,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,184}}</string>
                <key>sourceSize</key>
                <string>{196,184}</string>
            </dict>
            <key>img/help/step-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{502,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,92}}</string>
                <key>sourceSize</key>
                <string>{502,92}</string>
            </dict>
            <key>img/help/step-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,188},{196,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,54}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>img/help/step-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1200},{488,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,128}}</string>
                <key>sourceSize</key>
                <string>{488,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e11e8b4dc85d72449019f03eb680e6d0:1/1$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
