<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img/hundred/100-win.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1952},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>img/hundred/Club.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1990},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>img/hundred/Diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1144},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>img/hundred/Heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1990},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>img/hundred/Progressive-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1952},{194,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,36}}</string>
                <key>sourceSize</key>
                <string>{194,36}</string>
            </dict>
            <key>img/hundred/Spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1952},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>img/hundred/add.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2020},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>img/hundred/add2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2020},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>img/hundred/arr-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2020},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>img/hundred/bg-menu-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{208,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,310}}</string>
                <key>sourceSize</key>
                <string>{208,310}</string>
            </dict>
            <key>img/hundred/bg_noSitPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{530,748}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,748}}</string>
                <key>sourceSize</key>
                <string>{530,748}</string>
            </dict>
            <key>img/hundred/c-pot.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,842},{174,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,208}}</string>
                <key>sourceSize</key>
                <string>{174,208}</string>
            </dict>
            <key>img/hundred/card-type-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,278},{166,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,36}}</string>
                <key>sourceSize</key>
                <string>{166,36}</string>
            </dict>
            <key>img/hundred/close-white.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1990},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>img/hundred/d-pot.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,666},{174,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,208}}</string>
                <key>sourceSize</key>
                <string>{174,208}</string>
            </dict>
            <key>img/hundred/h-pot.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,490},{174,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,208}}</string>
                <key>sourceSize</key>
                <string>{174,208}</string>
            </dict>
            <key>img/hundred/hundreds_lookback.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1952},{60,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>img/hundred/line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2043},{540,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,2}}</string>
                <key>sourceSize</key>
                <string>{540,2}</string>
            </dict>
            <key>img/hundred/lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1194},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>img/hundred/lv-selected-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{127,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,40}}</string>
                <key>sourceSize</key>
                <string>{127,40}</string>
            </dict>
            <key>img/hundred/non-sit.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1191},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>img/hundred/non-sit@2x(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1018},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>img/hundred/non-sit@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1952},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>img/hundred/potbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{530,748}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,748}}</string>
                <key>sourceSize</key>
                <string>{530,748}</string>
            </dict>
            <key>img/hundred/progressive-bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1270},{480,680}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{480,680}}</string>
                <key>sourceSize</key>
                <string>{490,688}</string>
            </dict>
            <key>img/hundred/progressive-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2042},{381,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,2}}</string>
                <key>sourceSize</key>
                <string>{381,2}</string>
            </dict>
            <key>img/hundred/purple-table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,1266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1266}}</string>
                <key>sourceSize</key>
                <string>{768,1266}</string>
            </dict>
            <key>img/hundred/quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1144},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>img/hundred/rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,229},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>img/hundred/rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,180},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>img/hundred/rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,131},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>img/hundred/s-pot.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,314},{174,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,208}}</string>
                <key>sourceSize</key>
                <string>{174,208}</string>
            </dict>
            <key>img/hundred/win.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1990},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hundredroom.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc6d0d05b52530a9bc6d5e874921ecbc:1/1$</string>
            <key>textureFileName</key>
            <string>hundredroom.png</string>
        </dict>
    </dict>
</plist>
