<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img/login2/bg-login-fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{538,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,588}}</string>
                <key>sourceSize</key>
                <string>{538,588}</string>
            </dict>
            <key>img/login2/bg-login-sns.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1257},{538,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,588}}</string>
                <key>sourceSize</key>
                <string>{538,588}</string>
            </dict>
            <key>img/login2/bg-login.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,956},{538,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,438}}</string>
                <key>sourceSize</key>
                <string>{538,438}</string>
            </dict>
            <key>img/login2/bg-pwd_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{538,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,588}}</string>
                <key>sourceSize</key>
                <string>{538,588}</string>
            </dict>
            <key>img/login2/bg-signup-fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{538,663}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,663}}</string>
                <key>sourceSize</key>
                <string>{538,663}</string>
            </dict>
            <key>img/login2/bg-signup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{538,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,544}}</string>
                <key>sourceSize</key>
                <string>{538,544}</string>
            </dict>
            <key>img/login2/button-facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,218},{460,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,70}}</string>
                <key>sourceSize</key>
                <string>{460,70}</string>
            </dict>
            <key>img/login2/button-green.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1929},{460,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,80}}</string>
                <key>sourceSize</key>
                <string>{460,80}</string>
            </dict>
            <key>img/login2/button-kuaiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,218},{460,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,70}}</string>
                <key>sourceSize</key>
                <string>{460,70}</string>
            </dict>
            <key>img/login2/button-qq-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,146},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>img/login2/button-qq-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1847},{140,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,70}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>img/login2/button-qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,464},{460,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,70}}</string>
                <key>sourceSize</key>
                <string>{460,70}</string>
            </dict>
            <key>img/login2/button-sina-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,74},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>img/login2/button-sina-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1847},{140,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,70}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>img/login2/button-sina.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{460,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,70}}</string>
                <key>sourceSize</key>
                <string>{460,70}</string>
            </dict>
            <key>img/login2/button-wechat-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1847},{140,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,70}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>img/login2/button-white.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1847},{460,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,80}}</string>
                <key>sourceSize</key>
                <string>{460,80}</string>
            </dict>
            <key>img/login2/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2021},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>img/login2/icon-warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1989},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>img/login2/qq-long.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,587},{367,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,70}}</string>
                <key>sourceSize</key>
                <string>{367,70}</string>
            </dict>
            <key>img/login2/wechat-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,2},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>img/login2/wechat-long.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,218},{367,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,70}}</string>
                <key>sourceSize</key>
                <string>{367,70}</string>
            </dict>
            <key>img/login2/yyb-login-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1496},{538,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,388}}</string>
                <key>sourceSize</key>
                <string>{538,388}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dbf1dd6abef63c3eabedf0d27f1941f:1/1$</string>
            <key>textureFileName</key>
            <string>login2.png</string>
        </dict>
    </dict>
</plist>
