<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img/monthcard/bg-month.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,305}}</string>
                <key>sourceSize</key>
                <string>{480,305}</string>
            </dict>
            <key>img/monthcard/get.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{340,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,70}}</string>
                <key>sourceSize</key>
                <string>{340,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monthcard.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17fd5e1804fe936ccc8761047b1d3f29:1/1$</string>
            <key>textureFileName</key>
            <string>monthcard.png</string>
        </dict>
    </dict>
</plist>
