<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img/chat/pokerface/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,213},{55,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,75}}</string>
                <key>sourceSize</key>
                <string>{55,75}</string>
            </dict>
            <key>img/chat/pokerface/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,155},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>img/chat/pokerface/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,212},{55,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,75}}</string>
                <key>sourceSize</key>
                <string>{55,75}</string>
            </dict>
            <key>img/chat/pokerface/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,175},{55,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,75}}</string>
                <key>sourceSize</key>
                <string>{55,75}</string>
            </dict>
            <key>img/chat/pokerface/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,175},{55,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,75}}</string>
                <key>sourceSize</key>
                <string>{55,75}</string>
            </dict>
            <key>img/chat/pokerface/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>img/chat/pokerface/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>img/chat/pokerface/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,175},{55,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,75}}</string>
                <key>sourceSize</key>
                <string>{55,75}</string>
            </dict>
            <key>img/chat/pokerface/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,155},{55,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,75}}</string>
                <key>sourceSize</key>
                <string>{55,75}</string>
            </dict>
            <key>img/chat/pokerface/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>img/chat/pokerface/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,155},{55,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,75}}</string>
                <key>sourceSize</key>
                <string>{55,75}</string>
            </dict>
            <key>img/chat/pokerface/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>img/chat/pokerface/description.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,151}}</string>
                <key>sourceSize</key>
                <string>{342,151}</string>
            </dict>
            <key>img/chat/pokerface/icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>img/chat/pokerface/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{171,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,112}}</string>
                <key>sourceSize</key>
                <string>{171,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokerface.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95755472f52bea6aec3a8318e32c2ce6:1/1$</string>
            <key>textureFileName</key>
            <string>pokerface.png</string>
        </dict>
    </dict>
</plist>
