<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img/startup/bg-progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{200,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,8}}</string>
                <key>sourceSize</key>
                <string>{200,8}</string>
            </dict>
            <key>img/startup/bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>img/startup/girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{406,746}}</string>
                <key>offset</key>
                <string>{-16,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,146},{406,746}}</string>
                <key>sourceSize</key>
                <string>{640,892}</string>
            </dict>
            <key>img/startup/poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1052},{538,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,324}}</string>
                <key>sourceSize</key>
                <string>{538,324}</string>
            </dict>
            <key>img/startup/poker_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{581,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,418}}</string>
                <key>sourceSize</key>
                <string>{581,418}</string>
            </dict>
            <key>img/startup/progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{196,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,4}}</string>
                <key>sourceSize</key>
                <string>{196,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startup.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4951fda753a57a64dda85abac1f28e97:1/1$</string>
            <key>textureFileName</key>
            <string>startup.png</string>
        </dict>
    </dict>
</plist>
