<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img/store/Strongbox/bg-vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1429},{498,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,484}}</string>
                <key>sourceSize</key>
                <string>{498,484}</string>
            </dict>
            <key>img/store/Strongbox/button.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1202},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>img/store/Strongbox/emotion-vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1171},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>img/store/Strongbox/safe-icon-store.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,484},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>img/store/Strongbox/safe-icon-store@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1260},{118,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,110}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>img/store/VIP-card-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1329},{172,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,98}}</string>
                <key>sourceSize</key>
                <string>{172,98}</string>
            </dict>
            <key>img/store/VIP-card-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1329},{172,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,98}}</string>
                <key>sourceSize</key>
                <string>{172,98}</string>
            </dict>
            <key>img/store/VIP-card-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1329},{172,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,98}}</string>
                <key>sourceSize</key>
                <string>{172,98}</string>
            </dict>
            <key>img/store/bg-chipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1200},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>img/store/bg-store.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{640,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,600}}</string>
                <key>sourceSize</key>
                <string>{640,600}</string>
            </dict>
            <key>img/store/bill-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1429},{144,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,93}}</string>
                <key>sourceSize</key>
                <string>{144,93}</string>
            </dict>
            <key>img/store/button-price.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1050},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>img/store/chip-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,888},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>img/store/chip-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,942},{106,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,52}}</string>
                <key>sourceSize</key>
                <string>{106,52}</string>
            </dict>
            <key>img/store/chip-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1472},{162,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,87}}</string>
                <key>sourceSize</key>
                <string>{162,87}</string>
            </dict>
            <key>img/store/chip-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1126},{208,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,147}}</string>
                <key>sourceSize</key>
                <string>{208,147}</string>
            </dict>
            <key>img/store/clapboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{640,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,161}}</string>
                <key>sourceSize</key>
                <string>{640,161}</string>
            </dict>
            <key>img/store/left-btn-touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1524},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,62}}</string>
                <key>sourceSize</key>
                <string>{170,62}</string>
            </dict>
            <key>img/store/left-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1633},{168,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,62}}</string>
                <key>sourceSize</key>
                <string>{168,62}</string>
            </dict>
            <key>img/store/micro.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1636},{81,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,126}}</string>
                <key>sourceSize</key>
                <string>{81,126}</string>
            </dict>
            <key>img/store/mid-btn-touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1408},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,62}}</string>
                <key>sourceSize</key>
                <string>{170,62}</string>
            </dict>
            <key>img/store/mid-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1344},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,62}}</string>
                <key>sourceSize</key>
                <string>{170,62}</string>
            </dict>
            <key>img/store/monthcard/bg-month.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{480,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,305}}</string>
                <key>sourceSize</key>
                <string>{480,305}</string>
            </dict>
            <key>img/store/monthcard/get.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,730},{340,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,70}}</string>
                <key>sourceSize</key>
                <string>{340,70}</string>
            </dict>
            <key>img/store/monthcard/month-card.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1406},{172,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,97}}</string>
                <key>sourceSize</key>
                <string>{172,97}</string>
            </dict>
            <key>img/store/price-delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{100,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,12}}</string>
                <key>sourceSize</key>
                <string>{100,12}</string>
            </dict>
            <key>img/store/price.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,726},{160,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,56}}</string>
                <key>sourceSize</key>
                <string>{160,56}</string>
            </dict>
            <key>img/store/price_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,564},{160,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,56}}</string>
                <key>sourceSize</key>
                <string>{160,56}</string>
            </dict>
            <key>img/store/promo.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,560},{168,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,72}}</string>
                <key>sourceSize</key>
                <string>{168,72}</string>
            </dict>
            <key>img/store/raffle_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1764},{154,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,90}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>img/store/rename_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1929},{159,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,98}}</string>
                <key>sourceSize</key>
                <string>{159,98}</string>
            </dict>
            <key>img/store/right-btn-touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1505},{171,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,62}}</string>
                <key>sourceSize</key>
                <string>{171,62}</string>
            </dict>
            <key>img/store/right-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1569},{169,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,62}}</string>
                <key>sourceSize</key>
                <string>{169,62}</string>
            </dict>
            <key>img/store/shed-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,698}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,698}}</string>
                <key>sourceSize</key>
                <string>{560,698}</string>
            </dict>
            <key>img/store/shed.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,484},{640,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,241}}</string>
                <key>sourceSize</key>
                <string>{640,241}</string>
            </dict>
            <key>img/store/shopGood_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1929},{156,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,107}}</string>
                <key>sourceSize</key>
                <string>{156,107}</string>
            </dict>
            <key>img/store/shopGood_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1929},{156,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,107}}</string>
                <key>sourceSize</key>
                <string>{156,107}</string>
            </dict>
            <key>img/store/yh_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1301},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img/store/yh_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1072},{97,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,68}}</string>
                <key>sourceSize</key>
                <string>{97,68}</string>
            </dict>
            <key>img/store/yh_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1472},{97,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,95}}</string>
                <key>sourceSize</key>
                <string>{97,95}</string>
            </dict>
            <key>img/store/yh_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1929},{98,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{98,110}</string>
            </dict>
            <key>img/store/yh_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1920},{138,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,119}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>img/store/yh_icon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1275},{181,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,129}}</string>
                <key>sourceSize</key>
                <string>{181,129}</string>
            </dict>
            <key>img/store/yh_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1126},{132,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,36}}</string>
                <key>sourceSize</key>
                <string>{132,36}</string>
            </dict>
            <key>img/store/yh_icon_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1200},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>img/store/yh_icon_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1275},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img/store/yihua-count.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1380},{141,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,47}}</string>
                <key>sourceSize</key>
                <string>{141,47}</string>
            </dict>
            <key>img/store/yihua-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1569},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>store.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be82bb9708a42afcf5590bf54533fd42:1/1$</string>
            <key>textureFileName</key>
            <string>store.png</string>
        </dict>
    </dict>
</plist>
