<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img/Strongbox/bubble-buy-in.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,744},{185,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,58}}</string>
                <key>sourceSize</key>
                <string>{185,58}</string>
            </dict>
            <key>img/Strongbox/button@2x-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,875},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>img/Strongbox/button@2x-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,875},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>img/Strongbox/password-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{15,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{15,5}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>img/Strongbox/password-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,939},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>img/Strongbox/safe-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,740}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,740}}</string>
                <key>sourceSize</key>
                <string>{520,740}</string>
            </dict>
            <key>img/Strongbox/safe-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,1015},{382,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,4}}</string>
                <key>sourceSize</key>
                <string>{382,4}</string>
            </dict>
            <key>img/Strongbox/safe-number-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,744},{357,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,129}}</string>
                <key>sourceSize</key>
                <string>{357,129}</string>
            </dict>
            <key>img/Strongbox/safe-optional.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,744},{262,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,22}}</string>
                <key>sourceSize</key>
                <string>{262,22}</string>
            </dict>
            <key>img/Strongbox/safe-set-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,964},{357,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,46}}</string>
                <key>sourceSize</key>
                <string>{357,46}</string>
            </dict>
            <key>img/Strongbox/safe-set-modify.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,875},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>img/Strongbox/safe-set-switch-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,875},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>img/Strongbox/safe-set-switch-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,875},{65,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,40}}</string>
                <key>sourceSize</key>
                <string>{65,40}</string>
            </dict>
            <key>img/Strongbox/safe-vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,931},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>img/Strongbox/safe-what-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,744},{218,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,97}}</string>
                <key>sourceSize</key>
                <string>{218,97}</string>
            </dict>
            <key>img/Strongbox/slider-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{269,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,17}}</string>
                <key>sourceSize</key>
                <string>{269,17}</string>
            </dict>
            <key>img/Strongbox/slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,875},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>img/Strongbox/start-but.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,875},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>img/Strongbox/switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,964},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>img/Strongbox/textfield.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,744},{193,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,26}}</string>
                <key>sourceSize</key>
                <string>{193,26}</string>
            </dict>
            <key>img/Strongbox/textfield@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{386,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,52}}</string>
                <key>sourceSize</key>
                <string>{386,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Strongbox.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fa41c67d093ec84eed4e9658dae5651:1/1$</string>
            <key>textureFileName</key>
            <string>Strongbox.png</string>
        </dict>
    </dict>
</plist>
